.git
.github
.mypy_cache
.pytest_cache
.ruff_cache
.venv
.DS_Store
__pycache__
*.pyc

docs
sample
data/*
!data/cs_knowledge_structured.json
test_results
tests

frontend/node_modules
frontend/.next
frontend/out

backend/node_modules
chrome-extension/node_modules
